*{
    font-family: 'Audiowide', cursive;
}
div.cube{
    background-color: #86AA6F;
}
div.control{
    width: 70%;
    height: 196px;
    text-align: center;
    border-bottom: none;
    background-color: #00A779;
    border-radius: 10px;
    margin: auto;
}
div.game{
	width: 70%;
    height: 346px;
    text-align: center;
    border-radius: 10px;
    background-color: #537F73;
    margin: auto;
}
input{
    float: left;
    width: 70px;
}
span.sp1{   
    float: left;
    margin-right: 10px;
    padding-left: 40px;
}
button.pronto2{
    position: relative;
    float: right;
    right: 50px;
}
ul li p{
    padding-left: 10px;
    padding-top: 10px;
}
li{
    margin: auto;
    width: 350px;
}
ul{
    padding-top: 20px;
    list-style: none;
}
div.dentro{
    width: 80%;
    margin: auto;
    height: 344px;
}
img{
    width: 100%;
    height: 3px;
    position: relative;
    top: 281px;
}
div.bloco{
    width: 20px;
    height: 20px;
    position: relative;
    top: 291px;
    background-color: #CDF800;
}
body, html{
    text-align: center;
    position: relative;
    top: 0px;
    background-color: #86AA6F;
}
p.p1{
    padding-top: 10px;
    margin: 0px;
}
div.comandos{
    width: 30px;
    height: 30px;
}
@media (max-width:600px){
    button.pronto{
        position: relative;
    }
    *{
        font-size: 8px;
    }
    ul{
        padding: 0px;
    }
}